/* reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Helvetica, sans-serif;
	color: #333;
	line-height: 1.6;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--info-color);
	transition: filter 0.3s;
	&:hover {
		filter: brightness(1.2);
	}
}

h1,
h2 {
	font-weight: 300;
	line-height: 1.2;
	margin: 10px 0;
}

p {
	margin: 10px 0;
}

button,
input {
	outline: none;
}

img {
	width: 100%;
}

/* variables */
:root {
	--primary-color: #edeef0;
	--secondary-color: #ffffff;
	--dark-color: #002240;
	--light-color: #f4f4f4;
	--success-color: #5cb85c;
	--info-color: #0097f7;
	--danger-color: #d9534f;
	--muted-color: #828282;
}

/* base */

.form {
	width: 90%;
	max-width: 400px;

	&__group {
		margin-bottom: 1em;
		transition: all 0.3s;
		&:focus-within {
			transform: scale(1.1);
		}
	}
	&__label {
		font-size: 1em;
		color: #aaa;
		display: block;
		opacity: 1;
		//transform: translateY(-1.8em);
		transform: translate(0.5em, -1.8em);
		transform-origin: 0 0;
		transition: all 0.3s;
	}
	&__control {
		width: 100%;
		padding: 10px;
		box-shadow: none;
		background-color: rgba(0, 0, 0, 0.02);
		border-radius: 0px;
		border-color: var(--muted-color);
		border-style: none none solid none;
		transition: all 0.3s;
		&::placeholder {
			color: transparent;
		}
		&:focus {
			box-shadow: none;
			border-color: var(--info-color);
		}
		&:focus + .form__label,
		&:not(:placeholder-shown) + .form__label {
			transform: translateY(-3.5em) scale(0.8);
			color: #333;
		}
	}
}
